xml-xsd-validation-exercise/src/main/resources/xsd/breakfastmenu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.example.org/breakfastmenu"
            xmlns="http://www.example.org/breakfastmenu"
            elementFormDefault="qualified">

    <xsd:element name="breakfast-menu">
        <xsd:complexType>
            <xsd:sequence minOccurs="1">
                <xsd:element name="food" maxOccurs="unbounded" minOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="name" type="xsd:string"/>
                            <xsd:element name="price" type="xsd:string"/>
                            <xsd:element name="description" type="xsd:string"/>
                            <xsd:element name="calories" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="id" type="xsd:ID" use="required"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>